<p id="notice"><%= notice %></p>

<div class="container text-center" id="head-text">
  <h1> URL Tracking Report </h1>
  <br>
  <% if @link.present? %>
    <% total_clicks =  @link_count.sum(:count) %>
    <table style="width:100%" class="table-responsive">
    <tr>
      <td>Original URL</td>
      <td><%= link_to @link.original_url, @link.original_url, target: "blank" %></td> 
    </tr>
    <tr>
      <td>Shorten URL</td>
      <td><%= link_to "#{$BASE_URL}/#{@link.shorten_url}", "#{$BASE_URL}/#{@link.shorten_url}", 
        target: "blank" %></td> 
    </tr>
    <tr>
      <td>Total Clicks:</td>
      <td><%= total_clicks rescue nil %></td>
    </tr>
    </table>
  <% else %>
    <p> No URL Found </p>
  <% end %>
</div>

<div class="col-md-12"><hr/></div>
  <% if @link.present? && @link_count.present? %>
    <div id="link-count" class="col-md-12" style="max-height: 500px"></div>
      <script type="text/javascript">
      $('#link-count').highcharts({
        chart: {
          zoomType: 'x'
        },
        title: {
          text: 'URL Clicks'
        },
        xAxis: {
          type: 'datetime',
          title: {
            text: 'Date & Time'
          }
        },
        subtitle: {
          text: document.ontouchstart === undefined ?
            'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        yAxis: {
          title: {
            text: 'Click Count'
          }
        },
        scrollbar: {
          enabled: true
        },
        plotOptions: {
          area: {
            fillColor: {
              linearGradient: {
                x1: 0,
                y1: 0,
                x2: 0,
                y2: 1
              },
              stops: [
                [0, Highcharts.getOptions().colors[0]],
                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
              ]
            },
            marker: {
              radius: 2
            },
            lineWidth: 1,
            states: {
              hover: {
                lineWidth: 1
              }
            },
            threshold: null
          }
        },
        series: [{
          name: 'Clicks Count',
          data:  [
            <% @link_count.each do |link| %>
              [Date.UTC(<%= link.created_at.strftime("%Y,%m - 1,%d") %>), <%= link.count %>],
            <% end %>
          ]
           }]
      });
    </script>
  <% else%>
    <p class="text-center" style = "color: white;"> <b> No Traffic Generated </b> </p>
  <% end %>
<div class="col-md-12"><hr/></div>
